on:
    push:
        branches:
            - '**'
        tags:
            - 'NEVER'
    pull_request:
        types: [opened, reopened]

env:
    APT_INSTALL: apt install -y --no-install-recommends

jobs:
    jammy_test:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v5
            - run: make install_deps_apt
            - run: make install
            - run: make test

    noble_test:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - run: make install_deps_apt
            - run: make install
            - run: make test

    static_checks:
        uses: asherikov/ccws/.github/workflows/reusable_test.yaml@master
        with:
            distro: noble
            workspace_version: ""
            package_github_repo: ${{ github.repository }}
            package_version: ${{ github.sha }}
            profiles: '["static_checks"]'
