name: Publish to PyPI

on:
    push:
        tags:
            - '**'

jobs:
    publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - run: make install_release_deps
            - env:
                TWINE_USERNAME: __token__
                TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
              run: make upload_pypi
